fastapi
uvicorn[standard]
python-dotenv
prisma
asyncpg
httpx
pydantic-settings
psutil
qdrant-client
langchain
langchain-core
langchain-google-genai
langchain-groq
langgraph
celery
redis
google-generativeai
pydantic